* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


main {
  font-family: "Poppins";
  font-weight: 900;
}

.blur{
  height: 125vh;
  width: 100%;
  backdrop-filter: blur(8px);
  position: absolute;
  z-index: -5;
}

@media screen and (max-height: 950px) {
  .blur{
    height: 150vh;
  }    
}



header {
  height: 75px;
  width: 100%;
  font-family: "Poppins";
  font-weight: 800;
  background-color: #24252a;
  position: sticky;
  top: 0;
  z-index: 999;
  
}


.navbar {
  position: absolute;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  top: -20px;
  
}


.navbar a {
  color: #edf0f1;
  font-size: 1em;
  padding: 20px;
}

.navbar .logo {
  font-size: 1.6em;
  font-weight: 800;
  padding: 0;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 20px;
  margin-top: 6px;
  position: relative;
} 

.navbar .nav-links ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #001696;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5S;
}
.navbar .nav-links ul li:hover:after{
  width: 100%;
}



.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 35px;
  right: 40px;
  width: 35px;
  cursor: pointer;
}

@media screen and (max-width:955px) {
  .navbar {
    padding: 0;
    z-index: 1;
  }
  .navbar a {
    color: black;
  }

  .navbar .logo {
    font-size: 1.4em;
    position: absolute;
    top: 40px;
    left: 20px;
    color: #edf0f1;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.4s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.3em;
  }

}

@media screen and (max-width: 280px) {
  .navbar {
    position: absolute;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
    top: -20px;
    
  }
  .navbar .logo {
    font-size: 1.2em;
    position: absolute;
    top: 40px;
    left: 20px;
  
  
}


 
}
